body>header {
	background: #eee;
	padding: 5px;
}

body>header>a>img, body>header a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px;
	font-size: 1.2em;
}

body>footer {
	background: #eee;
	padding: 5px;
	margin: 10px 0;
	text-align: center;
}

#logged-in-info {
	float: right;
	margin-top: 18px;
}

#logged-in-info form {
	display: inline-block;
	margin-right: 10px;
}

body>aside {
	float: right;
	width: 200px;
	background: #CCC;
	padding: 15px;
	margin-left: 20px;
	margin-top: 10px;
}

body>aside h2 {
	margin: 5px 0px 15px 0px;
}

body>aside a {
	display: block;
	margin: 5px 0px;
	text-decoration: none;
}

body>main:after {
	content: "";
	display: block;
	clear: both;
}

ul#messages li {
	display: block;
	width: 80%;
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}

ul#messages li.info {
	background: #7f7;
}

ul#messages li.error {
	background: #d00;
	color: white;
}

#list2 {
	width: 320px;
}

#list2 ol {
	font-style: italic;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	color: #bfe1f1;
}

#list2 ol li {
	
}

#list2 ol li p {
	padding: 8px;
	font-style: normal;
	font-family: Arial;
	font-size: 13px;
	color: #400000;
	border-left: 1px solid #999;
}

#list2 ol li p em {
	display: block;
}




body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}
#postHeader h1{
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


#postHeader{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
#form form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
#form label, input, textarea{
	display: block;	
}
#form input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
#form input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

#form textarea{
	height: 300px;	
	resize: none; 
	overflow: auto;
	color:black;
}
#form input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
#form input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
#form label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}